html {
  height: 100%; /* This can remain to ensure html takes up full height */
  background-attachment: fixed; /* This will keep the background fixed during scroll */
}

body,
#root {
  min-height: 100vh; /* Use viewport height unit instead of percentage */
  margin: 0;
  padding: 0;
  background: transparent; /* Make body background transparent */
}

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: linear-gradient(to right, #6a5acd, #9a72ac);
}
body {
  display: flex;
  flex-direction: column;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
